<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stashley.fitmate">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Blog stuff -->
        <activity android:name=".activities.PostListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stashley.fitmate.MainActivity" />
        </activity>
        <activity android:name=".activities.PostActivity" />
        <activity
            android:name=".activities.LinkRouterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/url_intercept_schema" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".DrawerActivity"></activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".CreateEvent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stashley.fitmate.MainActivity" />
        </activity>
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>